body {
    background-color: white;
    font-family: Roboto;
    color: black;
}

h1 {
    font-family: Roboto; 
    font-weight: 200;
    color: white;
    background-color: DarkSlateGray;
    font-size: 300%;
    text-align: center;
    margin: 0px;
}
h2 {
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: Roboto;
    font-weight: 300;
    color: White;
    background-color:DarkSlateGray;
    padding: 4px;
    text-align:center;
    font-size: 180%
}

legend {
    font-weight: 500;
}

header, footer {
        color: white;
        background-color: DarkSlateGray;
        text-decoration: none;
        clear: left;
        text-align: center;
    }

.button {
    background-color: DarkSlateGray;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: DarkSlateBlue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
