body {
    background-image: url(https://static.pexels.com/photos/259988/pexels-photo-259988.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#000000;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

	/* Change the link color to #111 (black) on hover */
li a:hover {
   background-color: #111;
}
ul.active {
   background-color:#00b3b3 ;
}
body {
	background-color:#00b3b3;
}
h1{
		
	text-align: center;
	font-family: 'Goudy Old Style', Garamond, 
	'Big Caslon', 'Times New Roman', serif;
	font-size:45px;
	color:#ffffff ;
}
h2{
	color:#ffffff;
	font-size:32px;
}
legend {
	color:#ffffff;
	font-size: 20px;
}
label{
	color:#ffffff;
	font-size:23px;
}
select {
    width: 15%;
    padding: 9px 12px;
    border: none;
    border-radius: 2px;
    background-color:#ffffff;
}
option {
	font-size:20px;
}
input [type=text]{
	width: 15%;
    padding: 16px 20px;
    border: none;
    border-radius: 2px;
    background-color:#527a7a;
}

